{{/* Parameters: .ID .G .LeagueURL */}}
{{ $status := OverallStatus .G }}
<tr id="game{{.ID}}" class="{{ StatusToString $status "table-success" "table-warning" "table-danger" }}">
  <td>
    <a href="clonk://{{.LeagueURL}}?action=query&game_id={{.ID}}">{{.ID}}</a><br>
    {{.G.Game.Status}}<br>
    {{if .G.Game.Flags.PasswordNeeded}}<abbr class="icon" title="Passwort">🔐</abbr>{{end}}
    {{if .G.Game.Flags.JoinAllowed}}<abbr class="icon" title="Beitritt möglich">🚶</abbr>{{end}}
  </td>
  <td><img class="titlepng" src="https://clonkspot.org/images/games/Title.png/{{.G.Game.Scenario.Filename | replace "\\" "/"}}?hash={{.G.Game.Scenario.ContentsCRC}}"></td>
  <td title="{{.G.Game.Comment | RemoveMarkup}}">
    <strong>{{.G.Game.Title | RemoveMarkup}}</strong><br>
    <span>{{.G.Game.Host}}</span>
  </td>
  <td title="{{len .G.Game.Players}} / {{.G.Game.MaxPlayers}}">
    {{range .G.Game.Players}}
      <span class="playername">{{.Name}}</span>
    {{ end }}
  </td>
  <td class="text-right ports">
    <button class="btn btn-sm {{ StatusToString $status "btn-success" "btn-warning" "btn-danger" }}" type="button" data-toggle="collapse" data-target="#addresses{{.ID}}" aria-expanded="false" aria-controls="#addresses{{.ID}}">
      {{ StatusToString $status "✓" "?" "✘" }}
    </button>
    <div class="collapse" id="addresses{{.ID}}">
      {{range $k, $addr := .G.Addrs}}
        <span class="badge {{ StatusToString $addr.Status "badge-success" "badge-warning" "badge-danger" }}">
          {{$k}}
        </span>
      {{end}}
    </div>
  </td>
</tr>
{{/* vim: set ft=gohtmltmpl: */}}
